:root {
  --primary: #e1ce9a;
  --dark: #b8a87f;
  --accent: #6a624b;
  --text: #26231d;
  --text-vanilla: #fff7c2;
  --divider: #ecf0f1;
  --dark-gray: #324355;
  --error: #e74c3c;
  --font-family: "Quicksand", sans-serif;
  --box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%),
    0 1px 3px 1px rgb(60 64 67 / 15%);
}
